<div class="sign-container">
    <!-- Logo -->
    <div class="logo">
        <span class="logo-text">IronFix</span>
    </div>
    
    <!-- Login Form -->
    <form [formGroup]="loginForm">
        <div class="form-group">
            <label class="form-label" for="role">Selecciona tu rol:</label>
            <select class="form-input" id="role" name="role" formControlName="role">
                <option value="" disabled selected>Elige tu rol</option>
                <option value="admin">Administrador</option>
                <option value="technician">Técnico</option>
            </select>
        </div>

        <!-- Username/Email field -->
        <div class="form-group">
            <label class="form-label">Nombre de usuario o dirección de correo electrónico</label>
            <input formControlName="usernameOrEmail" type="text" id="username"  class="form-input" placeholder="Nombre de usuario o dirección de correo electrónico">
        </div>
        
        <!-- Password field -->
        <div class="form-group">
            <label class="form-label">Contraseña</label>
            <div class="password-input-container">
                <input formControlName ="password" type="password" id="password"  class="form-input" placeholder="Contraseña">
            </div>
        </div>
        
        <!-- Remember me and forgot password -->
        <div class="form-options">
            <label class="remember-me">
                <input type="checkbox">
                <span>Recuérdame</span>
            </label>
            <a href="#" class="forgot-password">¿Olvidaste tu contraseña?</a>
        </div>
        
        <!-- Login button -->
        <button (click)="onLogin()"  id="login-button">Acceder</button>
        
        <!-- Register link -->
        <a [routerLink]="['/sign-up']" class="register-link other-option-link">Regístrate ahora</a>
    </form>
</div>
