@if(isLoggedUser()){
<header>
    <div class="logo">IronFix</div>
    <nav>
        <ul>
            <li><a [routerLink]="['']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" >Órdenes</a></li>

            @if(!isTechnician()){
            <li><a [routerLink]="['/technicians']" routerLinkActive="active-link">Técnicos</a></li>
            }
            <li><a [routerLink]="['/equipment']" routerLinkActive="active-link">Equipos</a></li>
            <li><a [routerLink]="['/profile']" routerLinkActive="active-link">Perfil</a></li>
        </ul>
    </nav>
    <button (click)="onLogout()" class="logout-btn"><a>Cerrar Sesión</a></button>
</header>
}@else{

}