@if(isLoggedUser()){
<header>
    <div class="logo">IronFix</div>
    <nav>
        <ul>
            <li><a [routerLink]="['']" >Ordenes</a></li>

            @if(!isTechnician()){
            <li><a [routerLink]="['/technicians']">Tecnicos</a></li>
            }
            <li><a [routerLink]="['/equipment']">Equipos</a></li>
            <li><a [routerLink]="['/profile']">Perfil</a></li>
        </ul>
    </nav>
    <button (click)="onLogout()" class="logout-btn"><a>Cerrar Sesión</a></button>
</header>
}@else{

}