<!-- Hero section -->
<section class="hero">
  <div class="hero-content">
      <h1>Órdenes de Mantenimiento</h1>
      @if(!isTechnician()){
      <p>Administra y crea órdenes de mantenimiento para garantizar el correcto funcionamiento de los equipos.</p>
      }@else{
        <p>Toma el control de las órdenes de mantenimiento, acéptalas y ayuda a mantener los equipos en óptimas condiciones. </p>
      }
  </div>
  <div class="hero-image"></div>
</section>
<!-- Maintenance section -->
<section class="maintenance">
  <div class="maintenance-header">
      <div class="maintenance-title">
          Mantenimientos activos <span class="icon"></span>
      </div>
      @if(!isTechnician()){
      <button class="new-order-btn" (click)="onOpenNewOrderModal()">Nueva Orden</button>
      }
  </div>
  <div class="divider"></div>
  
  <!-- Maintenance cards grid -->
  <div class="maintenance-grid">
      <!-- Card 1 -->
      @for (order of orders(); track order.title){
      <div class="maintenance-card">
          <div class="card-image" style="background-image: url('../assets/AireAcondicionado.jpg');"></div>
          <div class="card-content">
              <div class="card-title">{{order.title}}</div>
              <div class="card-description">
                {{order.description}}
              </div>
              @if(isTechnician()){
                @if(!order.accepted){
              <button class="accept-btn" (click)="onAcceptOrder(order)">Aceptar Orden</button>
              }@else{
                <button class="accept-btn accepted">Orden aceptada</button>
                
              }}
          </div>
      </div>
    }@empty{
      <div class="no-orders">No hay órdenes registradas</div>
    }
  </div>


    <!-- Modal -->
  @if (modalVisible) {
    <div class="modal-background">
      <div class="modal-content">
        <h2>Crear Nueva Orden</h2>

        <form [formGroup]="orderForm">
          <label>Título</label>
          <input type="text" formControlName="title" required>
          <label>Descripción</label>
          <textarea formControlName="description" required></textarea>

          

        

          <div class="modal-actions">
            <button (click)="onSaveOrder()" class="save-btn"  [disabled]="orderForm.invalid">Guardar</button>
            <button type="button" class="cancel-btn" (click)="onCloseModal()">Cancelar</button>
          </div>
        </form>

      </div>
    </div>
  }
</section>