<!-- Maintenance section -->
<main class="maintenance">
  <div class="maintenance-header">
      <div class="maintenance-title">
          Mantenimientos activos <span class="icon"></span>
      </div>
      @if(!isTechnician()){
      <button class="new-order-btn">Nueva Orden</button>
      }
  </div>
  <div class="divider"></div>
  
  <!-- Maintenance cards grid -->
  <div class="maintenance-grid">
      <!-- Card 1 -->
      <div class="maintenance-card">
          <div class="card-image" style="background-image: url('../assets/AireAcondicionado.jpg');"></div>
          <div class="card-content">
              <div class="card-title">Revisión de aire acondicionado</div>
              <div class="card-description">
                  El aire acondicionado de la suite presidencial (Piso 10, Habitación 1001) no enfría adecuadamente.
              </div>
              <button class="accept-btn">Aceptar Orden</button>
          </div>
      </div>
  </div>
</main>